<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="LRM_ARM_testing">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.2251 -2.6508E-05 -0.14863"
        rpy="0 0 0" />
      <mass
        value="29.299" />
      <inertia
        ixx="0.77376"
        ixy="4.4625E-05"
        ixz="-0.0090347"
        iyy="0.93645"
        iyz="9.3075E-05"
        izz="1.0655" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-3.3011E-06 -0.0029352 0.030075"
        rpy="0 0 0" />
      <mass
        value="0.037998" />
      <inertia
        ixx="3.3124E-05"
        ixy="-2.9289E-08"
        ixz="-4.1086E-08"
        iyy="3.2572E-05"
        iyz="3.3577E-07"
        izz="1.3405E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
	    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0.046139 0 0.077012"
      rpy="0 1.0472 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.0023653 -0.057529 -6.7663E-05"
        rpy="0 0 0" />
      <mass
        value="0.084755" />
      <inertia
        ixx="0.00010536"
        ixy="-3.4002E-06"
        ixz="-1.7658E-09"
        iyy="5.8005E-05"
        iyz="2.508E-07"
        izz="8.0787E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
		    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 0 0.047505"
      rpy="-1.5708 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.00058212 0.0028236 0.026735"
        rpy="0 0 0" />
      <mass
        value="0.035798" />
      <inertia
        ixx="2.6633E-05"
        ixy="7.4562E-08"
        ixz="-4.3936E-07"
        iyy="2.4887E-05"
        iyz="-3.8443E-07"
        izz="1.1534E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0 -0.10351 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.0020892 0.05153 2.7387E-05"
        rpy="0 0 0" />
      <mass
        value="0.051946" />
      <inertia
        ixx="7.0818E-05"
        ixy="1.0745E-06"
        ixz="5.3675E-09"
        iyy="3.346E-05"
        iyz="-1.5149E-08"
        izz="5.7667E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="0 0 0.04367"
      rpy="1.5708 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.00045301 -0.0025427 0.022586"
        rpy="0 0 0" />
      <mass
        value="0.039443" />
      <inertia
        ixx="3.4556E-05"
        ixy="5.9448E-08"
        ixz="5.6089E-07"
        iyy="3.2998E-05"
        iyz="8.195E-07"
        izz="1.1868E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="0 0.10775 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-0.01124 0.06201 0.00068808"
        rpy="0 0 0" />
      <mass
        value="0.10406" />
      <inertia
        ixx="9.9848E-05"
        ixy="1.3203E-05"
        ixz="5.257E-06"
        iyy="0.00011144"
        iyz="-1.482E-06"
        izz="8.2739E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="0 0 0.04375"
      rpy="1.5708 0 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.017453"
      upper="0.017453"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="End_effector">
    <inertial>
      <origin
        xyz="-0.01124 -0.00068808 -0.0022605"
        rpy="0 0 0" />
      <mass
        value="0.10406" />
      <inertia
        ixx="9.9848E-05"
        ixy="-5.257E-06"
        ixz="1.3203E-05"
        iyy="8.2739E-05"
        iyz="1.482E-06"
        izz="0.00011144" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/End_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://LRM_ARM_testing/meshes/End_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="End_effector"
    type="fixed">
    <origin
      xyz="0 0.06427 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link6" />
    <child
      link="End_effector" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>